#
# Sandbox build configuration overrides
#
# Override database.config
#

database.user.owner             = edgebus-sandbox-owner
database.user.messengerbridge   = edgebus-sandbox-messenger-bridge
database.user.readonly          = edgebus-sandbox-ro

database.name                   = edgebus-sandbox
