#
# Base database build configuration
#
#database.user.owner            = edgebus-owner
#database.user.messengerbridge  = edgebus-messenger-bridge
#database.user.readonly         = edgebus-ro

#database.name                  = edgebus

database.schema.messengerbridge.name      = messenger-bridge
database.schema.messengerbridge.desc      = The schema store data of Messenger Bridge service
