#
# Snapshot build configuration overrides
#
# Override database.config
#

database.user.owner             = edgebus-snapshot-owner
database.user.messengerbridge   = edgebus-snapshot-messenger-bridge
database.user.readonly          = edgebus-snapshot-ro

database.name                   = edgebus-snapshot
